{% extends 'base.html' %}
{%load static%}
{% block body%}

	
	<!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">
        
        <div class="hidden-bar-closer">
            <button><span class="flaticon-multiply"></span></button>
        </div>
        
        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">
            
            <div class="logo">
            	<a href="index.html"><img src="{% static 'images/logo-2.png'%}" alt="" /></a>
            </div>
            <div class="content-box">
            	<h2>About Us</h2>
                <div class="text">Europe may be famous for its history, monuments and sightseeing, but summer is for enjoying the outdoors. For hiking, cycling, swimming, splashing around in the water and exploring your limits. </div>
                <a href="#" class="theme-btn btn-style-one"><span class="txt">Contact Us</span></a>
            </div>
            <div class="contact-info">
            	<h2>Contact Info</h2>
                <ul class="list-style-one">
                	<li><span class="icon fa fa-map-marker"></span>Rock St 12, Newyork City, USA</li>
                    <li><span class="icon fa fa-phone"></span>(222) 999-000-9999</li>
                    <li><span class="icon fa fa-envelope-o"></span>ghurbo@gmail.com</li>
                    <li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
                </ul>
            </div>
        </div><!-- / Hidden Bar Wrapper -->
        
    </section>
    <!-- End / Hidden Bar -->
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/6.jpg'%})">
    	<div class="auto-container">
			<h2>About us</h2>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>About us</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Agency Section -->
	<section class="agency-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">Best agency</div>
							<h2>Why choose our <span class="theme_color">travel <br> agency</span></h2>
						</div>
						<div class="text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s</p>
						</div>
						<div class="row clearfix">
							
							<!-- Agency Block -->
							<div class="agency-block col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-trust"></span>
									</div>
									<h4>Trust & Safety</h4>
									<div class="agency-text">All our cars come from main dealers and go through rigorous checks and tests before they arrive at your door</div>
								</div>
							</div>
							
							<!-- Agency Block -->
							<div class="agency-block col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-plane"></span>
									</div>
									<h4>Packages 10,000+ </h4>
									<div class="agency-text">All our cars come from main dealers and go through rigorous checks and tests before they arrive at your door</div>
								</div>
							</div>
							
						</div>
						<!-- Lower Text -->
						<div class="lower-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s</div>
						<div class="holiday">Make your holiday Special</div>
					</div>
				</div>
				
				<!-- Images Column -->
				<div class="images-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/agency.jpg'%}" alt="" />
						</div>
						<div class="lower-image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/agency-1.jpg'%}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Agency Section -->
	
	<!-- Summary Section -->
	<section class="summary-section">
		<div class="auto-container">
			
			<div class="summary-block">
				<div class="inner-box">
					<div class="row clearfix">
						
						<!-- Image Column -->
						<div class="image-column col-lg-7 col-md-12 col-sm-12">
							<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="image">
									<img src="{% static 'images/resource/summary-1.jpg'%}" alt="" />
								</div>
							</div>
						</div>
						
						<!-- Content Column -->
						<div class="content-column col-lg-5 col-md-12 col-sm-12">
							<div class="inner-column">
								<h2>Achive Summary</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="summary-block">
				<div class="inner-box">
					<div class="row clearfix">
						
						<!-- Content Column -->
						<div class="content-column col-lg-5 col-md-12 col-sm-12">
							<div class="inner-column">
								<h2>Our Values</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
						
						<!-- Image Column -->
						<div class="image-column col-lg-7 col-md-12 col-sm-12">
							<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="image">
									<img src="{% static 'images/resource/summary-2.jpg'%}" alt="" />
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Summary Section -->
	
	<!-- Counter Section -->
	<section class="counter-section style-two">
		<div class="auto-container">
			<div class="inner-container" style="background-image:url({% static 'images/background/map-pattern.png'%})">
			
				<!-- Fact Counter -->
				<div class="fact-counter">
					<div class="row clearfix">
					
						<!--Column-->
						<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="count-outer count-box">
									<div class="icon flaticon-journey"></div>
									<div class="counter-title">Total Travel</div>
									<span class="count-text" data-speed="3000ms" data-stop="1">0</span>K+
								</div>
							</div>
						</div>
				
						<!--Column-->
						<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="count-outer count-box">
									<div class="icon flaticon-travel"></div>
									<div class="counter-title">Travel Country</div>
									<span class="count-text" data-speed="2000" data-stop="30">0</span>
								</div>
							</div>
						</div>
				
						<!--Column-->
						<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
								<div class="count-outer count-box">
									<div class="icon flaticon-review"></div>
									<div class="counter-title">Five Star Rating</div>
									<span class="count-text" data-speed="2000" data-stop="20">0</span>+
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="text">Along with 1000s of cars to choose from, you can apply for finance online and value <br> your existing car all from the comfort of your favourite armchair</div>
				<div class="btn-box text-center">
					<a href="#" class="theme-btn btn-style-one"><span class="txt">THINGS TO DO</span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section -->
	
	<!-- Video Section -->
	<section class="video-section">
		<div class="auto-container">
			<!-- Video Box -->
			<div class="video-box">
				<div class="image">
					<div class="big-text">Las Vegas</div>
					<img src="{% static 'images/resource/video-img.jpg'%}" alt="" />
					<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-media-play-symbol"><i class="ripple"></i></span></a>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Destination Section -->
	<section class="destinations-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Destinations</h2>
				<div class="text">Lorem ipsum dolor sit amet, conseetuer adipiscing elit. Aenan comdo <br> igula eget. Aenean massa cum sociis Theme natoque</div>
				<div class="big-title style-two">Trending </div>
			</div>
		</div>
		<div class="outer-container">
			<div class="four-item-carousel owl-carousel owl-theme">
			
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-1.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Indonesia</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">40 <span>Tour</span></div>
					</div>
				</div>
				
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-2.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Vietnam</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">15 <span>Tour</span></div>
					</div>
				</div>
				
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-3.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Thailand</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">60 <span>Tour</span></div>
					</div>
				</div>
				
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-4.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Kashmir Pakistan</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">21 <span>Tour</span></div>
					</div>
				</div>
				
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-1.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Indonesia</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">40 <span>Tour</span></div>
					</div>
				</div>
				
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-2.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Vietnam</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">15 <span>Tour</span></div>
					</div>
				</div>
				
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-3.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Thailand</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">60 <span>Tour</span></div>
					</div>
				</div>
				
				<!-- Destinations Block -->
				<div class="destinations-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/destination-4.jpg'%}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h3>Kashmir Pakistan</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="tours">21 <span>Tour</span></div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Destination Section -->
	
	<!-- Team Section -->
	<section class="team-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Our Teams</h2>
				<div class="text">Lorem ipsum dolor sit amet, conseetuer adipiscing elit. Aenan comdo <br> igula eget. Aenean massa cum sociis Theme natoque</div>
				<div class="big-title style-two">Teams</div>
			</div>
			<div class="row clearfix">
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/team-1.jpg" alt="" />
							<div class="overlay-box">
								<div class="content">
									<h3><a href="#">Maiya Marafi</a></h3>
									<div class="designation">CTO of Travel</div>
									<ul class="social-icon-one">
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/team-2.jpg'%}" alt="" />
							<div class="overlay-box">
								<div class="content">
									<h3><a href="#">Maiya Marafi</a></h3>
									<div class="designation">CTO of Travel</div>
									<ul class="social-icon-one">
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/team-3.jpg'%}" alt="" />
							<div class="overlay-box">
								<div class="content">
									<h3><a href="#">Maiya Marafi</a></h3>
									<div class="designation">CTO of Travel</div>
									<ul class="social-icon-one">
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/team-4.jpg'%}" alt="" />
							<div class="overlay-box">
								<div class="content">
									<h3><a href="#">Maiya Marafi</a></h3>
									<div class="designation">CTO of Travel</div>
									<ul class="social-icon-one">
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>	
	<!-- End Team Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Client Feedback</h2>
				<div class="big-title">Testimonial</div>
			</div>
			<div class="single-item-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-info">
							<div class="author-image">
								<img src="{% static 'images/resource/author-2.jpg'%}" alt="" />
							</div>
							<h4>Shopnil Mahdi</h4>
							<div class="designation">Ux & Product Designer</div>
						</div>
						<div class="text">I really had my doubts at first. I asked for a quote online and the next day I was <br> contacted by a sales representative. The quote came out high so the salesman <br> did a good job to find me a good deal</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-info">
							<div class="author-image">
								<img src="{% static 'images/resource/author-2.jpg'%}" alt="" />
							</div>
							<h4>Shopnil Mahdi</h4>
							<div class="designation">Ux & Product Designer</div>
						</div>
						<div class="text">I really had my doubts at first. I asked for a quote online and the next day I was <br> contacted by a sales representative. The quote came out high so the salesman <br> did a good job to find me a good deal</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-info">
							<div class="author-image">
								<img src="{% static 'images/resource/author-2.jpg'%}" alt="" />
							</div>
							<h4>Shopnil Mahdi</h4>
							<div class="designation">Ux & Product Designer</div>
						</div>
						<div class="text">I really had my doubts at first. I asked for a quote online and the next day I was <br> contacted by a sales representative. The quote came out high so the salesman <br> did a good job to find me a good deal</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image:url({% static 'images/background/4.jpg'%})">
		<div class="auto-container">
			<h2>Upscale Downtown Suites</h2>
			<div class="street">700 MAIN STREET</div>
			<a href="#" class="theme-btn btn-style-one"><span class="txt">Trending Tour</span></a>
		</div>
	</section>
	<!-- End Call To Action Section -->
	
	<!-- Main Footer -->
    <footer class="main-footer style-two" style="background-image:url({% static 'images/background/5.jpg'%})">
		<div class="auto-container">
		
        	<!-- Widgets Section -->
            <div class="widgets-section">
				
            	<div class="row clearfix">
				
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="{% static 'images/logo.png'%}" alt="" /></a>
                                    </div>
									<div class="text">We aim to ensure that you never miss an opportunity to travel.</div>
									<!-- Social Nav -->
									<ul class="social-nav">
										<li class="follow">Follow Us</li>
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									</ul>
									<div class="newsletter-box">
										<div class="newsletter-text">Subscribe to Our Newsletter</div>
										<!-- Newsletter Form -->
										<div class="newsletter-form">
											<form method="post" action="https://gico.io/ghurbo/demos/ghurbo/contact.html">
												<div class="form-group clearfix">
													<input type="email" name="email" value="" placeholder="Enter Your Email Address" required>
													<button type="submit" class="theme-btn join-btn"><span class="txt">Join</span></button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>solutions</h5>
									<ul class="footer-list">
										<li><a href="#">Activities</a></li>
										<li><a href="#">Attractions</a></li>
										<li><a href="#">Entertainment</a></li>
										<li><a href="#">Events & Festivals</a></li>
										<li><a href="#">Food & Restaurants</a></li>
										<li><a href="#">Outdoors</a></li>
									</ul>
								</div>
							</div>
						
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>explore</h5>
									<ul class="footer-list">
										<li><a href="#">Hotels Sitemap</a></li>
										<li><a href="#">Flights Sitemap</a></li>
										<li><a href="#">Vacations Sitemap</a></li>
										<li><a href="#">Rental Cars</a></li>
										<li><a href="#">Sitemap</a></li>
										<li><a href="#">Cruises Sitemap</a></li>
										<li><a href="#">Submit an Event</a></li>
									</ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget news-widget">
									<h5>Update News</h5>
									<div class="widget-content">
										<div class="news-box">
											<h5><a href="blog-single.html">Bucket list how-to: Glamping and trekking in Patagonia</a></h5>
										</div>
										<div class="news-box">
											<h5><a href="blog-single.html">10 things you probably don’t know about Wales</a></h5>
										</div>
										<div class="news-box">
											<h5><a href="blog-single.html">10 things you probably don’t know about Wales</a></h5>
										</div>
										<div class="news-box">
											<h5><a href="blog-single.html">Do you really need an International Driver’s Permit?</a></h5>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
				
			</div>
		
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">&copy; 2020 All Rights Reserved Terms of Use </div>
			</div>
		
		</div>
		
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<!-- Search Popup -->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-multiply"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="https://gico.io/ghurbo/demos/ghurbo/index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Travel</a></li>
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">LifeStyle</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.js'%}"></script>
<script src="{% static 'js/appear.js'%}"></script>
<script src="{% static 'js/owl.js'%}"></script>
<script src="{% static 'js/wow.js'%}"></script>
<script src="{% static 'js/parallax.min.js'%}"></script>
<script src="{% static 'js/jquery-ui.js'%}"></script>
<script src="{% static 'js/script.js'%}"></script>

</body>

<!-- Mirrored from gico.io/ghurbo/demos/ghurbo/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Nov 2025 15:14:39 GMT -->
</html>


{% endblock body%}